<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронная библиотека</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">    
    
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/app.css?v=1.0">

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png"/>
</head>
<body>
    <div class="section header">
        <div class="width grid header_container">
            <a href="#" class="logo"><h1>ebook</h1></a>
            <ul class="menu header__menu">
                <li class="header__menu-item"><a href="index.html" class="header__menu-link">Главная</a></li>
                <li class="header__menu-item"><a href="list_books.html" class="header__menu-link">Список книг</a></li>
                <li class="header__menu-item"><a href="subscribe.html" class="header__menu-link">Подписка</a></li>
                <li class="header__menu-item"><a href="about_us.html" class="header__menu-link active">О нас</a></li>
                <li class="header__menu-item"><a href="contacts.html" class="header__menu-link">Контакты</a></li>
            </ul>
            <ul class="menu_auth header__menu_mini">
                <li class="header__menu_mini_auth-item">
                    <a href="reg.html" class="header__menu_mini_auth-link">Регистрация</a>
                </li>
                <li class="header__menu_mini_auth-item">/</li>
                <li class="header__menu_mini_auth-item">
                    <a href="auth.html" class="header__menu_mini_auth-link">Вход</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="section main">
        <div class="width main_container list-books mini-big grid">
            <ul class="left sider-menu">
                <h3 class="title">Информация</h3>
                <li><a href="about_us.html" class="sider-menu-link active">О нас</a></li>
                <li><a href="contacts.html" class="sider-menu-link">Контакты</a></li>
            </ul>
            <div class="right text_wrapper">
                <h3 class="title">О нас</h3>
                <h4 class="subtitle">Сервис электронных книг №1 в России</h4>
                <div class="content">
                    <p>Компания ЛевБук, основанная в 2019 году, сегодня является лидером на рынке лицензионных электронных книг в России и странах СНГ.</p>

                    <p>Ассортимент ЛитРес насчитывает:</p>

                    <p>- 1 000 электронных книг на русском и иностранных языках</p>

                    <p>- 50 новых книг каждый месяц</p>

                    <p>Ежемесячная аудитория сервисов компании составляет 12,5 тысяч человек, которые скачивают более 150 книг в месяц.</p>

                    <p>Приложение «ЛевБук: Читай!» расширяет возможности поиска книг. Теперь электронную книгу можно найти, сфотографировав обложку бумажной книги.
                    Библиотека каждого пользователя и его закладки синхронизируются на всех устройствах, что позволяет продолжать чтение или прослушивание книги на другом устройстве с нужного момента.
                    ЛевБук дает возможность бесплатно прочитать книги по триальной подписке неделю.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>