<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронная библиотека</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">

    <link href="../static/css/normalize.css" th:href="@{/css/normalize.css}" rel="stylesheet" />
    <link  href="../static/css/app.css?v=1.0" th:href="@{/css/app.css}"  rel="stylesheet">

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png"/>
</head>
<body>
    <div class="section header">
        <div class="width grid header_container">
            <a href="#" class="logo"><h1>ebook</h1></a>
            <ul class="menu header__menu">
                <li class="header__menu-item"><a href="/index" class="header__menu-link">Главная</a></li>
                <li class="header__menu-item"><a href="/list_books" class="header__menu-link">Список книг</a></li>
                <li class="header__menu-item"><a href="/subscribe" class="header__menu-link">Подписка</a></li>
                <li class="header__menu-item"><a href="/about_us" class="header__menu-link">О нас</a></li>
                <li class="header__menu-item"><a href="/contacts" class="header__menu-link active">Контакты</a></li>
            </ul>
            <ul class="menu_auth header__menu_mini">
                <li class="header__menu_mini_auth-item">
                    <a href="/reg" class="header__menu_mini_auth-link">Регистрация</a>
                </li>
                <li class="header__menu_mini_auth-item">/</li>
                <li class="header__menu_mini_auth-item">
                    <a href="/auth" class="header__menu_mini_auth-link">Вход</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="section main">
        <div class="width main_container list-books mini-big grid">
            <ul class="left sider-menu">
                <h3 class="title">Информация</h3>
                <li><a href="about_us.html" class="sider-menu-link">О нас</a></li>
                <li><a href="contacts.html" class="sider-menu-link active">Контакты</a></li>
            </ul>
            <div class="right text_wrapper">
                <h3 class="title">Контакты</h3>
                <h4 class="subtitle">Обратная связь</h4>
                <div class="content">
                    <p>Оставьте свое обращение и помогите нам стать лучше</p>
                    <p>Телефон: <b>+7 (919) 154 93-55</b></p>
                    <p>Email: <b>feod1999@gmail.com</b></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>