<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contacts</title>
	<style>
	#contacts{
	float: left;
	width: 35%;
	height: 200px;
}
	#obsv{
	float: right;
	width: 30%;
	height: 200px;
}
    #pochta{
	float: right;
	width: 35%;
	height: 200px;
}
	#back{
		font-weight: 600
	}
	</style>
</head>
<body>
	<div id="contacts">
		<h1>
			Позвоните нам
		</h1>
		<p>Есть вопросы? Мы поможем!</p><br>
		<p><a href="">8-(777)-777-777-5</a> для Москвы</p>
		<a href="">8-(777)-777-777-4</a> для регионов
	</div>
	<div id="obsv">
		<h1>
			Обратная связь
		</h1>
		Поделитесь мнением о нашей работе<br> и помогите нам стать лучше!<br>
		<p><a href="https://vk.com/im?peers=13940490&sel=c21">Оставить отзыв</a></p>	
	</div>
	<div id="pochta">
		<h1>
			Напишите нам
		</h1>
		Идеи? Предложения?<br>
         Мы открыты для любых вопросов!
         <p>Написать на <a href="">24@bitbaybit.ru</a></p><br>
		<div id="back">
	       <p> <a href="index.html"> <<-- Вернуться назад </a></p>
        </div>
	</div>
	

</body>
</html>
