<!DOCTYPE html>
<html lang="en">	
<head>
	<meta charset="UTF-8">
	<title>БитБайБит</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
<div id="header">	
	
	<div id="logo">
		<a href="#"><img src="img/241254.jpg" alt="Internet Magazine" width="300px" height="130px"></a>
		<p><b>MyBooks</b>
		</p>
	</div>

	
	<div id="contact">
		<p><b>Контактный телефон 
		<br> 8(999)-999-99-99</b>
		</p>
		<a href="reg.html"><button type="button" style="font-weight: bold; font-size: 17px; margin-left: 300px; padding: 5px 10px; margin-top: 20px;">Войти</button></a>
	</div>

	<div id="graph">
		<ul>
			<li>Пн</li>
			<li>Вт</li>
			<li>Ср</li>
			<li>Чт</li>
			<li>Пт</li>
			<li class="img">Сб</li>
			<li class="img">Вс</li>
		</ul>
	
	</div>
</div>


<div id="menu">
	<ul>
		<li><a href="#">Главная</a></li>
		<li><a href="about.html">О нас</a></li>
		<li><a href="#">Подписка</a></li>
		<li><a href="#">Категории</a></li>
		<li><a href="contacts.html">Контакты</a></li>
	</ul>
</div>

	<div id="content">
		<div id="leftsidebar">
			<form action="" method="post" class="search">
  <input type="search" name="" placeholder="поиск" class="input" />
  <input type="submit" name="" value="" class="submit" />
			</form>
		</div>

		<div id="rightsidebar">
			<p>Добро пожаловать в MyBooks!</p>
			<br>
			<img src="img/foto2.jpg" alt="#" width="380px">
		</div>

		<div id="com">
			<img src="img/content.jpg" alt="#" height="300px" width="535px">
		</div>
	</div>
	<hr>
	<div id="footer">
		<p>Популярные категории</p>
		<ul>
			<li><a href="#"><<img src="img/foto3.jpg" alt="#" width="239px" height="194px"></a></li>
			<li><a href="#"><img src="img/foto4.jpg" alt="#"  width="239px" height="194px"></a></li>
			<li><a href="#"><img src="img/video.jpg" alt="#"  width="239px" height="194px"></a></li>
			<li><a href="#"><img src="img/prin.jpg" alt="#"  width="239px" height="194px"></a></li>
		</ul>
	</div>
</body>


</html>
