<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронная библиотека</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">    
    
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/app.css?v=1.0">

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png"/>
</head>
<body>
    <div class="section header">
        <div class="width grid header_container">
            <a href="#" class="logo"><h1>ebook</h1></a>
            <ul class="menu header__menu">
                <li class="header__menu-item"><a href="index.html" class="header__menu-link">Главная</a></li>
                <li class="header__menu-item"><a href="list_books.html" class="header__menu-link active">Список книг</a></li>
                <li class="header__menu-item"><a href="subscribe.html" class="header__menu-link">Подписка</a></li>
                <li class="header__menu-item"><a href="about_us.html" class="header__menu-link">О нас</a></li>
                <li class="header__menu-item"><a href="contacts.html" class="header__menu-link">Контакты</a></li>
            </ul>
            <ul class="menu_auth header__menu_mini">
                <li class="header__menu_mini_auth-item">
                    <a href="reg.html" class="header__menu_mini_auth-link">Регистрация</a>
                </li>
                <li class="header__menu_mini_auth-item">/</li>
                <li class="header__menu_mini_auth-item">
                    <a href="auth.html" class="header__menu_mini_auth-link">Вход</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="section main">
        <div class="width main_container list-books mini-big grid">
            <ul class="left sider-menu">
                <h3 class="title">Категории</h3>
                <li><a href="#" class="sider-menu-link">Приключения</a></li>
                <li><a href="#" class="sider-menu-link">Научные работы</a></li>
                <li><a href="#" class="sider-menu-link">Физика</a></li>
                <li><a href="#" class="sider-menu-link">Классика</a></li>
                <li><a href="#" class="sider-menu-link active">Фантастика</a></li>
                <li><a href="#" class="sider-menu-link">Фэнтези</a></li>
                <li><a href="#" class="sider-menu-link">Детективы</a></li>
                <li><a href="#" class="sider-menu-link">Ужасы</a></li>
                <li><a href="#" class="sider-menu-link">Триллеры</a></li>
                <li><a href="#" class="sider-menu-link">Романы</a></li>
                <li><a href="#" class="sider-menu-link">Стихи</a></li>
                <li><a href="#" class="sider-menu-link">Сказки</a></li>
                <li><a href="#" class="sider-menu-link">Загадки</a></li>
                <li><a href="#" class="sider-menu-link">Программирование</a></li>

                <h3 class="title">Авторы</h3>
                <li><a href="#" class="sider-menu-link">Пушкин</a></li>
                <li><a href="#" class="sider-menu-link">Достоевский</a></li>
                <li><a href="#" class="sider-menu-link">Дебров</a></li>
                <li><a href="#" class="sider-menu-link">Петров</a></li>
                <li><a href="#" class="sider-menu-link">Сисеро</a></li>
                <li><a href="#" class="sider-menu-link">Гослинг</a></li>
                <li><a href="#" class="sider-menu-link">Толян</a></li>
            </ul>
            <div class="right list-books-container">
                <a class="list-books-item" href="#">
                    <img src="uploads/nisi.jpg" class="slider_book-item-photo" alt="НИ СЫ" width="190" height="305">
                    <div>
                        <div class="list-books-item-info">
                            <span class="rating">
                                4.3 <i></i>
                            </span>
                            <span class="pages">
                                3313 стр.
                            </span>
                        </div>
                        <h2 class="list-books-item-title">
                            НИ СЫ. Восточная мудрость, которая гласит: будь уверен в своих силах ...
                        </h2>
                        <span class="list-books-item-author">Автор: Джен Синсеро</span>
                    </div>
                </a>

                <a class="list-books-item" href="#">
                    <img src="uploads/nechto.jpg" class="list-books-item-photo" alt="НИ СЫ" width="190" height="305">
                    <div>
                        <div class="list-books-item-info">
                            <span class="rating">
                                4.3 <i></i>
                            </span>
                            <span class="pages">
                                3313 стр.
                            </span>
                        </div>
                        <h2 class="list-books-item-title">
                            Нечто из Норт Ривер
                        </h2>
                        <span class="list-books-item-author">Автор: Джен Синсеро</span>
                    </div>
                </a>

                <a class="list-books-item" href="#">
                    <img src="uploads/nisi.jpg" class="slider_book-item-photo" alt="НИ СЫ" width="190" height="305">
                    <div>
                        <div class="list-books-item-info">
                            <span class="rating">
                                4.3 <i></i>
                            </span>
                            <span class="pages">
                                3313 стр.
                            </span>
                        </div>
                        <h2 class="list-books-item-title">
                            НИ СЫ. Восточная мудрость, которая гласит: будь уверен в своих силах ...
                        </h2>
                        <span class="list-books-item-author">Автор: Джен Синсеро</span>
                    </div>
                </a>

                <a class="list-books-item" href="#">
                    <img src="uploads/nechto.jpg" class="list-books-item-photo" alt="НИ СЫ" width="190" height="305">
                    <div>
                        <div class="list-books-item-info">
                            <span class="rating">
                                4.3 <i></i>
                            </span>
                            <span class="pages">
                                3313 стр.
                            </span>
                        </div>
                        <h2 class="list-books-item-title">
                            Нечто из Норт Ривер
                        </h2>
                        <span class="list-books-item-author">Автор: Джен Синсеро</span>
                    </div>
                </a>

                <a class="list-books-item" href="#">
                    <img src="uploads/nisi.jpg" class="slider_book-item-photo" alt="НИ СЫ" width="190" height="305">
                    <div>
                        <div class="list-books-item-info">
                            <span class="rating">
                                4.3 <i></i>
                            </span>
                            <span class="pages">
                                3313 стр.
                            </span>
                        </div>
                        <h2 class="list-books-item-title">
                            НИ СЫ. Восточная мудрость, которая гласит: будь уверен в своих силах ...
                        </h2>
                        <span class="list-books-item-author">Автор: Джен Синсеро</span>
                    </div>
                </a>

                <a class="list-books-item" href="#">
                    <img src="uploads/nechto.jpg" class="list-books-item-photo" alt="НИ СЫ" width="190" height="305">
                    <div>
                        <div class="list-books-item-info">
                            <span class="rating">
                                4.3 <i></i>
                            </span>
                            <span class="pages">
                                3313 стр.
                            </span>
                        </div>
                        <h2 class="list-books-item-title">
                            Нечто из Норт Ривер
                        </h2>
                        <span class="list-books-item-author">Автор: Джен Синсеро</span>
                    </div>
                </a>

                <a class="list-books-item" href="#">
                    <img src="uploads/nisi.jpg" class="slider_book-item-photo" alt="НИ СЫ" width="190" height="305">
                    <div>
                        <div class="list-books-item-info">
                            <span class="rating">
                                4.3 <i></i>
                            </span>
                            <span class="pages">
                                3313 стр.
                            </span>
                        </div>
                        <h2 class="list-books-item-title">
                            НИ СЫ. Восточная мудрость, которая гласит: будь уверен в своих силах ...
                        </h2>
                        <span class="list-books-item-author">Автор: Джен Синсеро</span>
                    </div>
                </a>

                <a class="list-books-item" href="#">
                    <img src="uploads/nechto.jpg" class="list-books-item-photo" alt="НИ СЫ" width="190" height="305">
                    <div>
                        <div class="list-books-item-info">
                            <span class="rating">
                                4.3 <i></i>
                            </span>
                            <span class="pages">
                                3313 стр.
                            </span>
                        </div>
                        <h2 class="list-books-item-title">
                            Нечто из Норт Ривер
                        </h2>
                        <span class="list-books-item-author">Автор: Джен Синсеро</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>