<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронная библиотека</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">    
    
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/app.css?v=1.0">

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png"/>
</head>
<body>
    <div class="section header">
        <div class="width grid header_container">
            <a href="#" class="logo"><h1>ebook</h1></a>
            <ul class="menu header__menu">
                <li class="header__menu-item"><a href="index.html" class="header__menu-link">Главная</a></li>
                <li class="header__menu-item"><a href="list_books.html" class="header__menu-link">Список книг</a></li>
                <li class="header__menu-item"><a href="subscribe.html" class="header__menu-link active">Подписка</a></li>
                <li class="header__menu-item"><a href="about_us.html" class="header__menu-link">О нас</a></li>
                <li class="header__menu-item"><a href="contacts.html" class="header__menu-link">Контакты</a></li>
            </ul>
            <ul class="menu_auth header__menu_mini">
                <li class="header__menu_mini_auth-item">
                    <a href="reg.html" class="header__menu_mini_auth-link">Регистрация</a>
                </li>
                <li class="header__menu_mini_auth-item">/</li>
                <li class="header__menu_mini_auth-item">
                    <a href="auth.html" class="header__menu_mini_auth-link">Вход</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="section main welcome">
        <div class="width main_container">
            <form class="form plans" action="#" method="POST">
                <h2 class="title form_title">Подписка</h2>
                <h3 class="subtitle form_subtitle">Пожалуйста, выберите план</h3>
                <div class="grid-two">
                    <div class="form__field form__field-radio">
                        <label class="form__field-block" for="_plan1">
                            <h3 class="form__field-block-title">1 месяц</h3>
                            <span class="form__field-block-price">900 руб</span>
                        </label>
                        <input type="radio" name="plan" id="_plan1" class="form__field-hidden" value="1">
                    </div>

                    <div class="form__field form__field-radio">
                        <label class="form__field-block" for="_plan2">
                            <h3 class="form__field-block-title">1 год</h3>
                            <span class="form__field-block-price">7 890 руб</span>
                        </label>
                        <input type="radio" name="plan" id="_plan2" class="form__field-hidden" value="2">
                    </div>
                </div>

                <div class="form__field">
                    <input type="submit" name="submit" class="form__field-submit submit submit_inverse" value="Купить">
                </div>
            </form>
        </div>
    </div>
    <!-- Temp BR -->
    <br>
    <br>

<script>

[].forEach.call( document.querySelectorAll( '.plans .form__field-block' ), function ( element ) {
  element.addEventListener( 'click', function () {
    [].forEach.call(document.querySelectorAll( '.plans .form__field-block' ),function(item){
      if(item.classList.contains('active')) {
        item.classList.remove('active');
      }
    });
    element.classList.add('active');
  }, false );
});

</script>
</body>
</html>